# macOS System files
.DS_Store

# IDE Configurations
.idea/
.vscode/
*.swp

# Docker files
.env
*.env.local

# Transient runtime state — created on demand by scripts/start-port-forwarding.sh
.runtime/
