# Environment settings for {{ component.name }}
PORT={{ component.port or 8080 }}
ENV=local

{% if component.database != 'none' -%}
# Database configurations
DB_HOST=localhost
DB_PORT=5432
DB_NAME={{ component.name }}_db
DB_USER=postgres
DB_PASSWORD=postgres
{% endif %}
