# System Files
.DS_Store

# IDE Configurations
.idea/
.vscode/
*.swp

# Docker Configurations
.env
.env.local

# Language Specific Build Artifacts
node_modules/
target/
bin/
obj/
*.class
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.sbt_metadata/
out/
dist/
build/
