# Workspace Environments - {{ workspace.display_name }}

Overview of the target workspace environments for **{{ workspace.display_name }}**:

- **local**: Developer desktop running containerized dependencies.
- **DEV**: Shared development environment for automated service drops.
- **SIT**: System Integration Testing environment under strict canonical version testing.
- **UAT**: User Acceptance Testing and demo cluster.
- **PROD**: Production service system.

Refer to [VERSIONING.md](./VERSIONING.md) to check environment compatibility registers.
